<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">  </head>

  <body>

    <header>
      <div class="cart">
      <%= link_to "Cart: #{@cart.count_all}", cart_path %>
      </div>

      <div class='flash-container'>
            <% flash.each do |type, message| %>
            <%= content_tag :div, message, class: type %>
            <% end %>
          </div>
          <div class="title">
            Little<span>Shop</span>
            </div>
          <div class="user-header">
            <% if current_user %>
            <div class='logged-in'>
              Logged in as <%= current_user.name %>.
              </div>
              <%= link_to "Log Out", logout_path %>
            <% else%>
              <%= link_to "Register", register_path %>
              <%= link_to "Log In", login_path %>
            <% end %>
          </div>
          </header>
          <nav class='nav-container'>
            <% if !current_user %>
              <%= render 'layouts/visitor_nav' %>
            <% elsif current_user.registered_user? %>
              <%= render 'layouts/user_nav' %>
            <% elsif current_user.merchant? %>
              <%= render 'layouts/merchant_nav' %>
            <% elsif current_user.admin? %>
              <%= render 'layouts/admin_nav' %>
            <% end %>
          </nav>

      <%= yield %>

  </body>
</html>
